<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="主页" href="/user">home</a></span>
<span><a title="发表" href="/post">post</a></span>
<span><a title="退出" href="/logout">logout</a></span>
</nav>

<article>

</article>
</body>
</html>